{% extends 'base.html.twig' %}

{% block title %}Hello HabitatsController!{% endblock %}

{% block body %}

	<div class="image-accueil text-center">
		<div class="image-accueil-content">
			<h1>Nos habitats</h1>
			<div class="button-container">

				<button class="btn btn-warning" onclick="window.location.href = '/services#festindestination';"></br>
					Le Festin Du Lion
					</br>
					</br>
					<img src="../images/icone_couverts.png" alt="Icone">
				</button>


				<button class="btn btn-warning" onclick="window.location.href = '/services#visitedestination';"></br>
					Visite guidée
					</br>
					</br>
					<img src="../images/icone_chemin.png" alt="Icone">
				</button>


				<button class="btn btn-warning" onclick="window.location.href = '/services#traindestination';"></br>
					L'Arcadia Tchou-Tchou
					</br>
					</br>
					<img src="../images/icone_train.png" alt="Icone">
				</button>


				<button class="btn btn-warning" onclick="window.location.href = '/#engagementsdestination';"></br>
					Nos engagements
					</br>
					</br>
					<img src="../images/icone_eco.png" alt="Icone">
				</button> 

			</div>
		</div>
	</div>

<div class="row row-cols-1 row-cols-lg-3  accordion">
    <div class="col">
        <div class="accordion" id="accordionExample1">
        <h2 class="mb-3 premiereLigne text-center">La savane</h2>
        <img class="w-100 configImage" src="../images/Lions.png" alt="Lions">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne1">
                <button class="accordion-button accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                    Description
                </button>
                </h2>
                <div id="collapseOne1" class="accordion-collapse collapse bg-black accordiontext" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                <div class="accordion-body text-center">
                    L’habitat de la savane imite les plaines ouvertes avec des herbes hautes, des arbustes épars et quelques arbres. Le sol est sec et rocailleux avec des points d’eau. L’espace est vaste pour permettre aux animaux de se déplacer librement, avec des abris pour le repos. Des clôtures discrètes assurent la sécurité, et des plateformes d’observation permettent aux visiteurs de voir les animaux. Des éléments sont ajoutés pour encourager le comportement naturel des animaux.
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo1">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                    Eléphant
                </button>
                </h2>
                <div id="collapseTwo1" class="accordion-collapse collapse bg-black accordiontext" aria-labelledby="headingTwo1" data-bs-parent="#accordionExample1">
                <div class="accordion-body">
                    <img class="w-100 configImage" src="../images/elephant.png" alt="Eléphant">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree1">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                    Girafe
                </button>
                </h2>
                <div id="collapseThree1" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample1">
                <div class="accordion-body text-">
                    <img class="w-100 configImage" src="../images/Girafe.png" alt="Girafe">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour1">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                    Lion
                </button>
                </h2>
                <div id="collapseFour1" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample1">
                <div class="accordion-body">
                    <img class="w-100 configImage" src="../images/Lion.png" alt="Lion">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="accordion" id="accordionExample2">
        <h2 class="mb-3 premiereLigne text-center">La jungle</h2>
        <img class="w-100 configImage" src="../images/Singes.png" alt="Singes">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne2">
                <button class="accordion-button accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                    Description
                </button>
                </h2>
                <div id="collapseOne2" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample2">
                <div class="accordion-body text-center">
                    L’habitat de la jungle dans est dense avec une variété d’arbres, de plantes et de fleurs tropicales. Le sol est humide et riche, avec des cours d’eau et des bassins. L’espace est structuré avec des zones d’escalade et des cachettes. Des clôtures et des vitrages sécurisés protègent les animaux et les visiteurs. Des plateformes d’observation permettent une vue immersive. Des éléments sont ajoutés pour stimuler le comportement naturel des animaux.
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo2">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                    Iguane
                </button>
                </h2>
                <div id="collapseTwo2" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    <img class="w-100 configImage" src="../images/Iguane.png" alt="Iguane">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree2">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                    Jaguar
                </button>
                </h2>
                <div id="collapseThree2" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    <img class="w-100 configImage" src="../images/Jaguar.png" alt="Jaguar">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour2">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                    Orang-outan
                </button>
                </h2>
                <div id="collapseFour2" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    <img class="w-100 configImage" src="../images/orangoutan.png" alt="Orang-outan">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="accordion" id="accordionExample3">
        <h2 class="mb-3 premiereLigne text-center">Le marais</h2>
        <img class="w-100 configImage" src="../images/Tortues.png" alt="Tortues">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne3">
                <button class="accordion-button accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                    Description
                </button>
                </h2>
                <div id="collapseOne3" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample3">
                <div class="accordion-body text-center">
                    L’habitat marais est caractérisé par des zones d’eau stagnante, des plantes aquatiques et des arbres à feuilles larges. Le sol est boueux avec des zones sèches pour le repos. L’espace est parsemé de cachettes sous l’eau et sur terre. Des clôtures et des vitrages sécurisés protègent les animaux et les visiteurs. Des plateformes d’observation offrent une vue sur l’habitat. Des éléments sont ajoutés pour encourager le comportement naturel des animaux.
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo3">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                    Alligator
                </button>
                </h2>
                <div id="collapseTwo3" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample3">
                <div class="accordion-body">
                    <img class="w-100 configImage" src="../images/Alligator.png" alt="Alligator">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree3">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                    Loutre
                </button>
                </h2>
                <div id="collapseThree3" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample3">
                <div class="accordion-body">
                    <img class="w-100 configImage" src="../images/Loutre.png" alt="Loutre">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour3">
                <button class="accordion-button collapsed accordiontitle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour3" aria-expanded="false" aria-controls="collapseFour3">
                    Tortue
                </button>
                </h2>
                <div id="collapseFour3" class="accordion-collapse collapse bg-black accordiontext" data-bs-parent="#accordionExample3">
                <div class="accordion-body">
                    <img class="w-100 configImage" src="../images/Tortue.png" alt="Tortue">
                    <u>Race</u> : Giraffa camelopardalis </br>
                    <u>Habitat</u> : Savane </br>
                    <u>Etat</u> : Très bon </br>
                    <u>Nourriture</u> : Fourrage, granulés, 
                    fruits et légumes, eau. </br>
                    <u>Grammage</u> : 30kg, 50l/jours </br>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
