@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');


body {
    background-color: $secondary;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-size: 30px;
    font-family: $font-family-base;
    color: $primary;
    transform: translateY(85px); // Ajustez cette valeur pour déplacer le H1 vers le bas
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000; // Cela ajoute un contour noir plus épais
}

h2 {
    color: $primary;
    font-family: $font-family-secondary;
    font-size: 25px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
    font-family: 'Cardo', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Cardo', sans-serif;
    color: $dark;
}

.btn-primary {
    height: 5rem;
    width: 15rem;
    font-size: 20px;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, );
}

.configImage {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, );
    border-radius: 3%;
}

footer.footer {
    padding: 15px;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}


.elephant {
    height: 2.5rem;
    transform: translate(2rem, 0.3rem); // Ajustez cette valeur pour déplacer le H1 vers le bas
    }


.image-accueil {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/Accueil.png);
        background-size: cover;
        background-position: 0% 70%;
        filter: brightness(0.8);
    }

    * {
        //positionner les éléments devant le ::before
        position: relative;
    }

    .image-accueil-content {
        position: relative;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            bottom: -8rem; // Ajustez cette valeur en fonction de vos besoins pour déplacer la ligne sous le texte du titre
            left: 50%;
            transform: translateX(-50%);
            width: 50%; // Ajustez la largeur en fonction de vos besoins
            height: 5px; // Ajustez l'épaisseur de la ligne ici
            background-color: $black; // Ou utilisez une variable pour la couleur si elle est définie
            border-radius: 10px; // Ajustez le rayon pour les extrémités arrondies
        }
    }

    .button-container {
        position: absolute;
        bottom: -70px; // Ajustez selon vos besoins
        left: 0; // Modifiez pour centrer les boutons
        right: 0; // Ajoutez pour centrer les boutons
        display: flex; // Ajoutez pour centrer les boutons
        justify-content: center;
        gap: 60px; // Ajustez cette valeur selon vos besoins



        .btn-warning {
            background-color: $primary; // Définissez la variable $yellow dans votre fichier Sass
            height: 150px; // Ajustez cette valeur selon vos besoins
            width: 240px;
            // Autres styles pour votre bouton
            border: 2px solid darken($primary, 20%); // Ajoute une bordure plus sombre
            box-shadow: 3px 3px 5px rgba(0, 0, 0, ); // Ajoute une ombre pour l'effet de relief


            &:hover {
                border-width: 4px; // Augmente la taille de la bordure lorsque le bouton est survolé
                box-shadow: 2px 2px 4px rgb(0, 0, 0); // Réduit l'ombre lorsque le bouton est survolé
            }
        }
    }

    .button-container .btn-warning img {
        height: 60px; // Ou toute autre taille
        width: auto; // Cela garantit que le rapport d'aspect est maintenu
    }
}



.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(190, 153, 21, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    background-color: rgba(55, 36, 14, 0.5);
}

.navbar-toggler {
    font-size: 50px;
    /* Augmentez la taille de l'icône du menu */
    padding: 10px 15px;
    /* Ajustez le padding si nécessaire */
    margin-top: 25px;
    margin-bottom: 25px;
}

.premiereLigne{
    margin-top: 10rem;
}

.artyfdg {
    margin-top: 10rem;
}

.engagements {
    margin-top: 10rem;
    text-align: center;
}

.accordion {
    margin-left: 3rem;
    margin-right: 3rem;
}

.accordiontitle {
    font-family: 'Baloo 2', sans-serif;
    font-size: 20px;
    color: $black;
}

.accordiontext {
    font-family: 'Cardo', sans-serif;
    font-size: 20px;
    color: $primary;
}

@media (max-width: 992px) {
    main {
        margin-bottom: 550px;
    }

    footer {
        font-size: 2.3rem;
        /* Taille de police par défaut pour les éléments */
    }

    h3 {
        font-size: 2.3rem;
        /* Ajustez la taille des titres h3 */
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;
        /* Ajustez la taille des paragraphes */
    }

    .navbar-collapse {
        font-size: 2.5rem;
        /* Augmentez la taille du texte du menu */
        padding: 15px;
        /* Ajustez le padding si nécessaire */
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-1.5rem); // Ajustez cette valeur pour déplacer le H1 vers le bas
        font-size: 2rem;



        .elephant {
            height: 4rem;
            transform: translateY(3.8rem); // Ajustez cette valeur pour déplacer le H1 vers le bas
        }
    }

    .btn-warning {
        font-size: 17px;
    }

    .accordiontext {
        font-size: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    main {
        margin-bottom: 420px;
    }

    footer {
        font-size: 1.5rem;
        /* Taille de police par défaut pour les éléments */
    }

    h3 {
        font-size: 1.5rem;
        /* Ajustez la taille des titres h3 */
    }

    p {
        font-size: 1.3rem;
        /* Ajustez la taille des paragraphes */
    }
}

@media (min-width: 1200px) {
    .navbar-nav {

        margin-left: 500px !important; // Ajustez cette valeur en fonction de vos besoins
        }
}