{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<h1 class="primary">test
		<i class="bi bi-airplane"></i>


		<button class="btn btn-primary">coucou</button>
	{% endblock %}
