{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="image-accueil text-center">
		<div class="image-accueil-content">
			<h1>Découvrir ce que la planète a de plus beau à offrir !</h1>
			<div class="button-container">

				<button class="btn btn-warning" onclick="window.location.href = '/services#festindestination';"></br>
					Le Festin Du Lion
					</br>
					</br>
					<img src="../images/icone_couverts.png" alt="Icone">
				</button>


				<button class="btn btn-warning" onclick="window.location.href = '/services#visitedestination';"></br>
					Visite guidée
					</br>
					</br>
					<img src="../images/icone_chemin.png" alt="Icone">
				</button>


				<button class="btn btn-warning" onclick="window.location.href = '/services#traindestination';"></br>
					L'Arcadia Tchou-Tchou
					</br>
					</br>
					<img src="../images/icone_train.png" alt="Icone">
				</button>


				<button class="btn btn-warning" onclick="window.location.href = '/#engagementsdestination';"></br>
					Nos engagements
					</br>
					</br>
					<img src="../images/icone_eco.png" alt="Icone">
				</button> 

			</div>
		</div>
	</div>

	<article>
		<div class="container">
				<H2 class="premiereLigne text-center" id="engagementsdestination">Les engagements d’Arcadia</H2>
				<div class="row row-cols-1 row-cols-lg-2 mt-5">
					<div class="col">
						<p>Arcadia est un zoo magnifique pleinement engagé contre le réchauffement climatique. 
						Protéger notre planète, c'est protéger nos animaux. Nous pouvons nous satisfaire d'être totalement 
						indépendant concernant les énergies que nous consommons. La santé de nos animaux est aussi notre priorité, 
						nous avons à nos cotés les meilleurs spécialistes pour s'en assurer.</p>
						</br>
						<div class="mx-auto" style="width: 200px"><img src="../images/icone_chien.png" alt="Icone"></div>
					</div>

					<div class="col mt-2">
						<img class="w-100 configImage" src="../images/Veterinaire.png" alt="Vétérinaire">
					</div>
				</div>
				<div class="mt-4">
					<a href="/video" class="btn btn-primary">Vidéo présentation</a>
				</div>
				
				
				<div class="row row-cols-1 row-cols-lg-3 mt-5">
					<div class="col">
						<H2 class="text-center">Notre habitat savane</H2>
						<p>L'habitat savane imite l’écosystème africain avec un climat chaud, des animaux variés comme les lions et les girafes, et une végétation typique d’herbes et d’acacias. Il vise la conservation et l’éducation sur ces milieux naturels.</p>
						<img class="w-100 configImage" src="../images/girafes.png" alt="Vétérinaire">
					</div>
					<div class="col">
						<H2 class="ptext-center">Notre habitat jungle</H2>
						<p>L'habitat jungle simule une forêt tropicale avec un climat humide, une faune riche comme des singes et des panthères, et une flore dense de grands arbres et lianes, tout en promouvant la conservation et l’éducation environnementale.</p>
						<img class="w-100 configImage" src="../images/panthere.png" alt="Vétérinaire">
					</div>
					<div class="col">
						<H2 class="text-center">Notre habitat marais</H2>
						<p>L'habitat marais recrée un écosystème aquatique avec une humidité élevée, abritant des espèces comme des ragondins et des oiseaux d’eau, entouré de végétation comme des roseaux, et mettant l’accent sur la conservation et l’éducation sur les zones humides.</p>
						<img class="w-100 configImage" src="../images/ragondin.png" alt="Vétérinaire">
					</div>
				</div>
				<div class="mt-4">
					<a href="/habitat" class="btn btn-primary">Nos habitats</a>
				</div>
		</div>
	</article>

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        
		<p class="modal-text">Vous trouverez ci-dessous une vidéo de démonstration de mon application, incluant notamment la partie Back-end. Sinon, vous pouvez directement l'essayer en <a class="text-primary" id="redirect-link">cliquant ici</a></p>
        <div class="video-container">
            <iframe src="https://player.vimeo.com/video/1042536240?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="width:100%; height:400px;" title="Présentation projet"></iframe>
        </div>
        <span class="close">×</span>
    </div>
</div>

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 90%;
        max-width: 800px;
        text-align: center;
    }

    .video-container {
        margin-bottom: 20px;
    }

    .modal-text {
        color: #37240E; /* Ajout de la couleur de la police */
    }

    .close {
        color: $primary;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<script>
    window.onload = function() {
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        var redirectLink = document.getElementById("redirect-link");

        modal.style.display = "block";

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        redirectLink.onclick = function() {
            modal.style.display = "none";
        }
    };
</script>



{% endblock %}
