{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="image-accueil text-center">
		<div class="image-accueil-content">
			<h1>Découvrir ce que la planète a de plus beau à offrir !</h1>
			<div class="button-container">
				<button class="btn btn-warning"></br>
				Le Festin Du Lion
			</br>
		</br>
		<img src="../images/icone_couverts.png" alt="Icone">
	</button>

	<!-- Répétez pour les autres boutons -->
	<button class="btn btn-warning"></br>
	Visite guidée</br></br><img src="../images/icone_chemin.png" alt="Icone"></button><button class="btn btn-warning"></br>L'Arcadia Tchou-Tchou</br></br><img src="../images/icone_train.png" alt="Icone"></button><button class="btn btn-warning"></br>Nos engagements</br></br><img src="../images/icone_eco.png" alt="Icone"></button></div> </div></div>{% endblock %}
