{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<h1>test
		<i class="bi bi-airplane"></i>
	</h1>

	<button class="btn btn-primary">coucou</button>
{% endblock %}
